<p>Добро пожаловать, <%= current_user.login %></p>

<p>
  <strong>ФИО:</strong>
  <%= @user.fio %>
</p>

<p>
  <strong>Возраст:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Документ:</strong>
  <%= @user.document_type %>
</p>

<p>
  <strong>Номер документа:</strong>
  <%= @user.document_number %>
</p>

<%= button_to "Sign out", session_path, method: :delete %>