<h1>Покупка билета</h1>

<%= form_with url: user_purchase_path, method: :get do |form| %>

  <p>
  <%= form.label :reservation_id, "Номер брони" %>
  <%= form.number_field :reservation_id, value: session[:reservation_id], min: 0, required: true %>
  </p>

  <p>
  <%= form.label :fio, "ФИО" %>
  <%= form.text_field :fio, value: current_user.fio, required: true %>
  </p>

  <p>
  <%= form.label :age, "Возраст" %>
  <%= form.number_field :age, value: current_user.age, in: 13..99, step: 1, required: true %>
  </p>

  <p>
  <%= form.label :document_number, "Номер документа" %>
  <%= form.text_field :document_number, value: current_user.document_number, required: true %>
  </p>

  <p>
  <%= form.label :document_type, "Тип документа" %>
  <%= form.select :document_type, [["Пасспорт", "passport"], ["Свидетельство о рождении", "birth_certificate"], ["Права", "driver_license"]], selected: current_user.document_type , required: true %>
  </p>

  <p>
  <%= form.label :ticket_price, 'Цена билета' %>
  <%= form.text_field :ticket_price, value: @ticket_price, required: true %>
  </p>

  <p>
  <%= form.submit "Купить" %>
  </p>

<% end%>